{% trans_default_domain 'FOSUserBundle' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

{% if message is defined %}    
        {{ advanced_flash('success', message, '', true, false, '') }}    
{% endif %}

{% if app.user.userLocation is null %}
    {% set message = 'layout.section_empty'|trans%}
    {{ flash('info', message) }}
{% else %}    
    <table class="table table-condensed">
        <tbody> 
            <tr> 
                <th scope="row">{% trans %} layout.user_location.location {% endtrans %}</th>
                <td>
                    {{ app.user.userLocation.country|countryName }} 
                    
                    {% if app.user.userLocation.region is not empty %}
                    > {{ app.user.userLocation.region }}
                    {% endif %}
                    
                    {% if app.user.userLocation.city is not empty %}
                    > {{ app.user.userLocation.city }}
                    {% endif %}
                    
                </td> 
            </tr> 
        </tbody>
    </table>
{% endif %}
        
<div>
    <button 
        data-action="{{ path('dt_user_edit_profile_user_location', { 'id': app.user.id } ) }}" 
        data-container="userLocationContent"
        class="updateFormToUpdateInAjax pull-right btn btn-danger">
        {% trans %} layout.update {% endtrans %}
    </button>
        
</div>


