{% extends "DtUserBundle::layout.html.twig" %}

{% block foot_script_assetic %}
    
    
    {% javascripts
    '@AppBundle/Resources/public/js/anchor.min.js'
    '@DtUserBundle/Resources/public/js/dt_user.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ parent() }}
    
{% endblock foot_script_assetic %}



{% block headline %}
{% trans from 'FOSUserBundle' %} layout.compte.mon_compte {% endtrans %}   
{{ '- mettre le menu en affix : voir bootstrap affix (js)' }}
{{ '- desactiver le formulaire courant quand il est soumis' }}
{% endblock headline %}

{% block content_page_sidebar %}
    <div id="sidebarMenu">
        {{ mopa_bootstrap_menu('sidebar', {'automenu': 'pills', 'stacked':true }) }}
    </div>
{% endblock content_page_sidebar %}    

{% block content_page_content %}
    
    {% include 'FOSUserBundle:Compte:tab_profile.html.twig' %}
    
    {#    
    <div class="section-anchor-js">
        <h3 class="page-header" id="password">
            <a class="anchorjs-link " href="#password"></a>
            {% trans from 'FOSUserBundle' %} layout.compte.password {% endtrans %}
        </h3>
        
        <div id="passwordContent">
        {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}
        </div>
    </div>
    #}    
    
{% endblock content_page_content %}

