{% extends "DtUserBundle::layout.html.twig" %}

{% block foot_script_assetic %}
    
    
    {% javascripts
    '@AppBundle/Resources/public/js/anchor.min.js'
    '@DtUserBundle/Resources/public/js/dt_user.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ parent() }}
    
    <script type="text/javascript">
        
    jQuery(function($){
        
        $('#sidebarMenu').scrollToFixed({
            marginTop: $('#main-header').outerHeight()
        });
        
        $('body').on('change', '#dt_userbundle_lookingfor_location_country', function(){
            
            var options = { 
                'types': ['(regions)']
            };
            
            var country = $(this).find(':selected');
            var region = document.getElementById('dt_userbundle_lookingfor_location_region');
            
            var autocomplete = new google.maps.places.Autocomplete(region, options);
            autocomplete.setComponentRestrictions({'country': country.val()});
            
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                region.value = place.name;
                region.text = place.name;
                
                console.log(place);
            });

        });
    });
    </script>
    
{% endblock foot_script_assetic %}



{% block headline %}
{% trans from 'FOSUserBundle' %} layout.compte.mon_compte {% endtrans %}   
{{ '- mettre le menu en affix : voir bootstrap affix (js)' }}
{{ '- mettre un msg flas: votre compte nest pas encore visible car pac complet' }}
{% endblock headline %}

{% block content_page_sidebar %}
    <div id="sidebarMenu">
        {{ mopa_bootstrap_menu('sidebar', {'automenu': 'pills', 'stacked':true }) }}
    </div>
{% endblock content_page_sidebar %}    

{% block content_page_content %}
    
    {% include 'FOSUserBundle:Compte:tab_profile.html.twig' %}
    
    {#    
    <div class="section-anchor-js">
        <h3 class="page-header" id="password">
            <a class="anchorjs-link " href="#password"></a>
            {% trans from 'FOSUserBundle' %} layout.compte.password {% endtrans %}
        </h3>
        
        <div id="passwordContent">
        {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}
        </div>
    </div>
    #}    
    
{% endblock content_page_content %}

