{% trans_default_domain 'FOSUserBundle' %}

{% import _self as macros %}

{% macro sectionMessage(sectionData, message) %}
    
    {% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}
    
    {% if message is defined %}    
        {{ advanced_flash('success', message, '', true, false, '') }}    
        
        {% set sections = {} %}
        {% set sections = sections|merge( { 'item': sectionData } ) %}
        
    {% endif %}
    
{% endmacro sectionMessage %}
    
{% macro sectionFormButton(section) %}
    <div>
        <button 
            data-action="{{ section.path }}" 
            data-section-data="{{ section|json_encode() }}"
            class="updateFormToUpdateInAjax pull-right btn btn-danger">
            {% trans %} layout.update {% endtrans %}
        </button>
    </div>
{% endmacro sectionFormButton %}

{% macro userPassword() %}
<table class="table table-condensed">
    <tbody> 
        <tr> 
            <th scope="row">{% trans %} layout.user_password {% endtrans %}</th> 
            <td>{{ 'security.hidden'|trans }}</td> 
        </tr> 
    </tbody>
</table>
{% endmacro userPassword %}

{% macro userEmail() %}
<table class="table table-condensed">
    <tbody> 
        <tr> 
            <th scope="row">{% trans %} layout.email {% endtrans %}</th> 
            <td>{{ app.user.email }}</td> 
        </tr> 
    </tbody>
</table>
{% endmacro userEmail %}

{{ macros.sectionMessage(sectionData, message) }}
{{ attribute(macros, sectionData.view) }}
{{ macros.sectionFormButton(sectionData) }}
