{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/css/*.css'
        '@AppBundle/Resources/public/less/variables.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    
    
{% endblock head_style %}

{% block head_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock head_script %}

{% block navbar %}

    {% block container_header_start %} 
        <header id="main-header"> 
    {% endblock container_header_start %}
    
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: true, id: 'mainNavbar' } %}

        {% block brand %}
            <a class="navbar-brand" href="#">Mopa Bootstrap</a>
        {% endblock %}


        {% block menu %}
            {{ mopa_bootstrap_menu('main') }}
            {#{ knp_menu_render('main') }#}
            
            {% if app.user %}
                {#{ knp_menu_render('login', {'automenu': 'navbar', 'pull-right': true}) }#}
                {{ mopa_bootstrap_menu('login', {'automenu': 'navbar', 'pull-right': true}) }}
            {% else %}
                {#{ knp_menu_render('logout', {'automenu': 'navbar', 'pull-right': true}) }#}
                {{ mopa_bootstrap_menu('logout', {'automenu': 'navbar', 'pull-right': true}) }}
            {% endif %}
            
        {% endblock menu %}

    {% endembed %}

    {% block container_header_end %} 
        </header> 
    {% endblock container_header_end %}

{% endblock navbar %}


{% block container %}
    {% block page_main_content %}
        
        {% block container_div_start %}<div id="mainContent" class="{% block container_class %}{% endblock container_class %}">{% endblock container_div_start %}
    
            <div id="pageMainContent">
            {% block page_header %}

                <div class="page-header">
                    <div class="container">
                    {% block breadcrumb %}
                        <section id="page-breadcrumb">
                            <ol class="breadcrumb">
                            {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('login')) %}
                                {% if not loop.last %}
                                    <li><a href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label|trans({}, 'menu') }}</a></li>
                                {% else %}
                                <li class="active">{{ breadcrumb_item.label|trans({}, 'menu') }}</li>
                                {% endif %}
                            {% endfor %}
                            </ol>
                        </section>
                     {% endblock breadcrumb %}

                     {% block page_title %}
                        <section id="page-title">
                             <h1>{% block headline %}Mopa Bootstrap Bundle{% endblock headline %}</h1>
                        </section>
                     {% endblock page_title %}
                    </div>
                </div>
            {% endblock page_header %}

            {% block page_content %}
                {% block content_row %}
                <div id="page-content">    
                    <div class="container">
                        {% block content %}
                            {% block content_content %}
                                {% block content_page %}
                                    
                                    {% block content_page_div_start %}<div class="row">{% endblock content_page_div_start %}
                                    
                                        {% block sidebar %}
                                            <div class="col-sm-3" role="complementary">
                                                {% block content_page_sidebar %}
                                                    sidebar
                                                {% endblock content_page_sidebar %}
                                            </div>
                                        {% endblock sidebar %}
                                        
                                        {% block _content_page %}
                                            <div class="col-sm-9" role="main">
                                                {% block content_page_content %}

                                                {% endblock content_page_content %}
                                            </div>
                                        {% endblock _content_page %}
                                                
                                    {% block content_page_div_end %}</div>{% endblock content_page_div_end %}
                                    
                                    
                                {% endblock content_page %}
                            {% endblock content_content %} 
                        {% endblock content %} 
                    </div>
                </div><!-- end #page-content -->    
                {% endblock content_row %}
            {% endblock page_content %}
            </div><!-- end #pageMainContent -->

            {% block footer_tag_start %}
            {% endblock footer_tag_start %}
            {% block footer %}
            {% endblock footer %}
            {% block footer_tag_end %}
            {% endblock footer_tag_end %}

        {% block content_div_end %}</div>{% endblock content_div_end %}
    
    {% endblock page_main_content %}
    
    {% block main_footer %}
        <footer>
            <div class="container">
                {% block footer_content %}
                    <p>&copy; <a href="http://www.mohrenweiserpartner.de" target="_blank">Mohrenweiser & Partner</a> 2011-2015</p>
                {% endblock footer_content %}
            </div>
        </footer>
    {% endblock main_footer%}
    
{% endblock container %}    


    
{% block body_start %}
    {{ parent() }}
    
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '416100258764384',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/fr_FR/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{% endblock body_start %}

{% block foot_script_assetic %}

    {% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    '@AppBundle/Resources/public/js/app.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock foot_script_assetic %}