{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lookingformetum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lookingForMetum.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ lookingForMetum.label }}</td>
            </tr>
            <tr>
                <th>Onproperty</th>
                <td>{{ lookingForMetum.onProperty }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if lookingForMetum.deletedAt %}{{ lookingForMetum.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if lookingForMetum.createdAt %}{{ lookingForMetum.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if lookingForMetum.updatedAt %}{{ lookingForMetum.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dt_admin.looking_for_meta.index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dt_admin.looking_for_meta.edit', { 'id': lookingForMetum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
