{% trans_default_domain 'FOSUserBundle' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

{% if message is defined %}    
        {{ advanced_flash('success', message, '', true, false, '') }}    
{% endif %}


<table class="table table-condensed">
    <tbody> 
        <tr> 
            <th scope="row">{% trans %} layout.facebook_url {% endtrans %}</th> 
            <td><a target="_blank" href="{{ app.user.facebookUrl|default('#') }}">{{ app.user.facebookUrl }}</a></td> 
        </tr> 
        <tr> 
            <th scope="row">{% trans %} layout.twitter_url {% endtrans %}</th> 
            <td><a target="_blank" href="{{ app.user.twitterUrl|default('#') }}">{{ app.user.twitterUrl }}</a></td> 
        <tr> 
            <th scope="row">{% trans %} layout.instagram_url {% endtrans %}</th>
            <td><a target="_blank" href="{{ app.user.instagramUrl|default('#') }}">{{ app.user.instagramUrl }}</a></td> 
        </tr> 
        <tr> 
            <th scope="row">{% trans %} layout.snapchat_name {% endtrans %}</th>
            <td><a target="_blank" href="{{ app.user.snapchatName|default('#') }}">{{ app.user.snapchatName }}</a></td> 
        </tr> 
    </tbody>
</table>
        
<div>
    <button 
        data-action="{{ path('dt_user_edit_profile_reseaux_sociaux', { 'slug': app.user.slug } ) }}" 
        data-container="reseauxSociauxContent"
        class="updateFormToUpdateInAjax pull-right btn btn-danger">
        {% trans %} layout.update {% endtrans %}
    </button>
        
</div>


