{% macro recursiveTree(node, form) %}
    {% import _self as self %}
    
    {% set class = '' %}
    {% if node.lvl == 0 %}
        {% set class = 'list-group-item mainNode' %}
    {% endif %}   
    
    <li class="{{ class }}">
        
        {% if node.lvl == 0 %}
            <h4 class="text-center list-group-item-heading">{{ node.label }}</h4>
        {% else %}
            <span>{{ node.label }}</span>
        {% endif %}    
        
        {% if node.expectedReplyType in ['radio', 'checkbox', 'text', 'textCollection', 'textValCollection', 'textarea'] %}    
            {{ form_row( attribute(form, 'aboutUserReply' ~ node.id) ) }}
        {% endif  %}     
        
        {% if node.__children|length %}
            {% set class = 'list-unstyled' %}
            <ul class="{{ class }}">
                {% for nodeChild in node.__children %}
                    {{ self.recursiveTree(nodeChild, form) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
