{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'MopaBootstrapBundle:form:fields.html.twig' %}
{% import 'DtUserBundle:Compte:AboutUserReply/about_user_reply_recursive_tree.html.twig' as recursiveTree %} 

{{ form_start(form, { 'action': path('dt_user_edit_profile_about_user_reply', { 'slug': app.user.slug } ), 'attr': { 'class': 'ajaxForm', 'data-container': 'aboutUserReplyContent' } }) }}

{{ form_errors(form) }}

    {% if aboutUsers %}
        <div>
            <ul class="list-group">
                {% for tree in aboutUsers %}
                    {{ recursiveTree.recursiveTree(tree, form) }}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <div>
        <button type="submit" class="btn btn-danger">{{ 'change_profile.update'|trans }}</button>
        <div
            data-action="{{ path('dt_user_edit_profile_about_user_reply', { 'slug': app.user.slug } ) }}" 
            data-container="aboutUserReplyContent"
            class="cancelFormToUpdateInAjax btn btn-warning">
            {% trans %} layout.cancel {% endtrans %}
        </div>
    </div>
{{ form_end(form) }}


