{% trans_default_domain 'FOSUserBundle' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

{% if message is defined %}    
        {{ advanced_flash('success', message, '', true, false, '') }}    
{% endif %}

{% if lookingFor is null %}
    {% set message = 'layout.section_empty'|trans%}
    {{ flash('info', message) }}
{% else %}    
    <table class="table table-condensed">
        <tbody> 
            <tr> 
                <th scope="row">{% trans %} layout.looking_for.sexe {% endtrans %}</th> 
                <td>
                    {% for lookingForGender in lookingFor.genders %}
                        {{ lookingForGender.label }}
                    {% endfor %}
                </td> 
            </tr> 
            <tr> 
                <th scope="row">{% trans %} layout.looking_for.relationships {% endtrans %}</th> 
                <td>
                    {% for lookingForRelationships in lookingFor.relationships %}
                        {{ lookingForRelationships.label }} 
                    {% endfor %}
                </td> 
            <tr> 
                <th scope="row">{% trans %} layout.looking_for.age_range {% endtrans %}</th>
                <td>
                    {% trans %} layout.looking_for.age_range_min {% endtrans %} : {{ lookingFor.ageRangeMin }}
                    {% trans %} layout.looking_for.age_range_max {% endtrans %} : {{ lookingFor.ageRangeMax }}
                </td> 
            </tr> 
            <tr> 
                <th scope="row">{% trans %} layout.looking_for.location {% endtrans %}</th>
                <td>
                    {{ app.user.userLocation.country|countryName }} 
                    
                    {% if lookingFor.location.region is not empty %}
                    > {{ lookingFor.location.region }}
                    {% endif %}
                    
                    {% if lookingFor.location.city is not empty %}
                    > {{ lookingFor.location.city }}
                    {% endif %}
                </td> 
            </tr> 
        </tbody>
    </table>
{% endif %}
        
<div>
    <button 
        data-action="{{ path('dt_user_edit_profile_looking_for', { 'id': app.user.id } ) }}" 
        data-container="lookingForContent"
        class="updateFormToUpdateInAjax pull-right btn btn-danger">
        {% trans %} layout.update {% endtrans %}
    </button>
        
</div>


