{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aboutusersreplies list</h1>
    
    {{ aboutUser }}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aboutUserReply in aboutUserReplies %}
            <tr>
                <td><a href="{{ path('aboutusersreply_show', { 'id': aboutUserReply.id }) }}">{{ aboutUserReply.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('aboutusersreply_show', { 'id': aboutUserReply.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('aboutusersreply_edit', { 'id': aboutUserReply.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aboutusersreply_new') }}">Create a new aboutUserReply</a>
        </li>
    </ul>
{% endblock %}
