{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userpictures list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Name</th>
                <th>Mimetype</th>
                <th>Size</th>
                <th>Deletedat</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userPicture in userPictures %}
            <tr>
                <td><a href="{{ path('dt_user_user_picture_show', { 'id': userPicture.id }) }}">{{ userPicture.id }}</a></td>
                <td>{{ userPicture.path }}</td>
                <td>{{ userPicture.name }}</td>
                <td>{{ userPicture.mimeType }}</td>
                <td>{{ userPicture.size }}</td>
                <td>{% if userPicture.deletedAt %}{{ userPicture.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if userPicture.createdAt %}{{ userPicture.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if userPicture.updatedAt %}{{ userPicture.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dt_user_user_picture_show', { 'id': userPicture.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dt_user_user_picture_edit', { 'id': userPicture.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dt_user_user_picture_new') }}">Create a new userPicture</a>
        </li>
    </ul>
{% endblock %}
