{% trans_default_domain 'FOSUserBundle' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}
{% import 'DtUserBundle:Compte:macros.html.twig' as macros %}

{% set sections =
{
    'userPassword': {
        'id': 'parameters-password',
        'title':  'layout.compte.password',
        'contentId': 'userParametersPasswordContent',
        'view': 'userPassword',
        'path': path( 'dt_user_parameters_edit', { 'id': app.user.id } )
    },
    'userEmail': {
        'id': 'parameters-email',
        'title':  'layout.compte.email',
        'contentId': 'userParametersEmailContent',
        'view': 'userEmail',
        'path': path( 'dt_user_parameters_edit', { 'id': app.user.id } )
    }
}
%}

{% for section in sections %}
    
<div class="section-anchor-js">
    <h3 class="page-header" id="{{ section.id }}">
        {{ section.title|trans({}, 'FOSUserBundle') }}
    </h3>
    
    <div id="{{ section.contentId }}">
        
        <div class="viewContent">
            
            {{ attribute(macros, section.view) }}

            {{ macros.sectionFormButton(section) }}
        </div>
                
        <div class="formContent hidden">
        </div>
    </div>
</div>
                    
{% endfor %}    
