{% extends "DtAdminBundle::layout.html.twig" %}

{% block headline %}{% trans %} dashboard.about_user_meta.about_user_meta {% endtrans %}{% endblock headline %}

{% block content_page_content %}
    
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>About User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aboutUserMeta in aboutUserMetas %}
            <tr>
                <td><a href="{{ path('dt_admin.about_user_meta.show', { 'id': aboutUserMeta.id }) }}">{{ aboutUserMeta.id }}</a></td>
                <td>{{ aboutUserMeta.label }}</td>
                <td>
                    {{ aboutUserMeta.aboutUser.label }}
                </td>
                <td>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a class="btn btn-default" role="button" href="{{ path('dt_admin.about_user_meta.show', { 'id': aboutUserMeta.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="btn btn-warning" role="button" href="{{ path('dt_admin.about_user_meta.edit', { 'id': aboutUserMeta.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </li>
                        <li class="hidden">
                            <a class="btn btn-danger" role="button" href="{{ path('dt_admin.about_user_meta.delete', { 'id': aboutUserMeta.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-default" role="button" href="{{ path('dt_admin.about_user_meta.new') }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
    </ul>

{% endblock content_page_content %}        