{% extends "DtAdminBundle::layout.html.twig" %}

{% block headline %}{% trans %} dashboard.about_user_meta.about_user_meta {% endtrans %}{% endblock headline %}

{% block content_page_content %}

    <table class="table table-striped table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aboutUserMeta.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ aboutUserMeta.label }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if aboutUserMeta.deletedAt %}{{ aboutUserMeta.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if aboutUserMeta.createdAt %}{{ aboutUserMeta.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if aboutUserMeta.updatedAt %}{{ aboutUserMeta.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('dt_admin.about_user_meta.index') }}">{% trans %} dashboard.about_user_meta.back {% endtrans %}</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('dt_admin.about_user_meta.edit', { 'id': aboutUserMeta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content_page_content %}